body{
        margin: 0px;
        padding: 0px;
    background-color: #34A99D;
     text-align: center;
}

.container{
        display: flex;
       height: 60vh;
       justify-content: center;
}
#msg {
        
         height: 40px;
        color: rgb(246, 19, 56);
        font-size: large;
}
.msg-container{
        height: 50px;
        display: none;
}

.game{
        display: flex;
        justify-content: center;
       height:70%;
       width: 30%; 
        flex-wrap: wrap; 
        gap: 2px; 
              
} 

.btn{
        height: 18vmin;
        width: 18vmin;   
        color: rgb(179, 11, 11);     
        background-color: rgb(237, 233, 90);
        border-radius: 7px;
        border: none;
        font-size: 8vmin;
       
}
#btnr{
        height: 70px;
        width: 250px;
        font-size: 30px ;
        color: rgb(244, 244, 244);
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
}
#btnn{
        height: 50px;
        width: 100px;
        font-size: 13px ;
        color: rgb(244, 244, 244);
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
}
/* @media (-height:740px) {
        .game{
                height:230px ;
                flex-shrink: 2;
         justify-content: center;
        }
        .container{
                height:300px ;
        }

} */
@media (max-width:1000px) {
         .game{
                 height:205px ;
                 width:245px ;
               flex-shrink: 2;
               
         
        }
         .container{
                 height:300px ;
                width:412px ;
        }
}
